<section>
<h2>Execute Sync Tests</h2>
<br/>
<p>Tests using valid POST requests:</p>
<ul>
  <li>Test 1: value as JSON</li>
  <li>Test 2: value as GML</li>
  <li>Test 3: value as reference as GML</li>
  <li>Test 4: same as test 3, result as reference</li>
  <li>Test 5: value as reference as GML using POST request</li>
  <li>Test 6: same as test 5, result as reference</li>
</ul>
<br/><br/>
</section>
