<section>
<h2>OGC Cite Tests</h2>

    <section>
        <p>
        Luis Bermundez, Open Geospatial Consortium: 
        </p>
        <blockquote cite="">
        Why don't you guys just not use the CITE tests, provided by OGC?
        </blockquote>
        </p>
        <img src="imgs/IMG_20140911_123156025.jpg" />
    </section>


    <section>
        <h2>OGC Cite Tests</h2>
        <a href="http://cite.opengeospatial.org/te2">http://cite.opengeospatial.org/te2</a>
        <p>
        Zoo: <br />
        <img src="imgs/zoo-cite.png" />
        </p>
        <p>
        GeoServer: <br />
        <img src="imgs/geoserver-cite.png" />
        </p>
        <p>
        52North: <br />
        <img src="imgs/52north-cite.png" />
        </p>
        <p>
        PyWPS: <br />
        <img src="imgs/pywps-cite.png" />
        </p>
    </section>

</section>
