<section>
<h2>GetCapabilities Test</h2>
<br/>
<p>Tests using valid requests:</p>
<ul>
  <li>Test 1 / 2: GET request (upper/lower case)</li>
  <li>Test 3: POST request</li>
</ul>
<br/><br/>
<p>Tests using wrong KVP requests:</p>
<ul>
  <li>Test 4 / 5: Send requests with missing SERVICE / REQUEST</li>
  <li>Test 6 / 7: Send requests with wrong value for SERVICE / REQUEST</li>
</ul>
</section>
