<section>
<h2>DescribeProcess Tests</h2>
<p>Minimal parameters: SERVICE, REQUEST, VERSION and Identifier</p>
<br/>
<p>Tests using valid requests:</p>
<ul>
  <li>Test 1: ALL Identifier</li>
  <li>Test 2: Service Identifier</li>
  <li>Test 3: POST request using Service Identifier</li>
</ul>
<br/><br/>
<p>Tests using wrong KVP requests:</p>
<ul>
  <li>Test 4 - 7: Send requests with missing parameter</li>
  <li>Test 8 - 11  : Send requests with wrong value for one parameter</li>
</ul>
</section>
